<html>
<head>
  <title>Tandem</title>
  <link rel="stylesheet" type="text/css" href="/styles/normalize.css">
  <link rel="stylesheet" type="text/css" href="/styles/skeleton.css">
  <link rel='stylesheet' type='text/css' href='/styles/index.css'>
  <link rel="stylesheet" type="text/css"  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
</head>
<body>
  <div class="u-full-width">
  	{{{body}}}
   </div>
  <script src="javascript/bundle.js"></script>
  <script src="/javascript/formValidation.js"></script>
</body>
</html>