<html>
<head>
  <title>Tandem</title>
  <link rel='stylesheet' type='text/css' href='/css/normalize.css'></link>
  <link rel='stylesheet' type='text/css' href='/css/skeleton.css'></link>
  <link rel='stylesheet' type='text/css' href='/css/main.css'></link>
</head>
	<body>
    <nav>
    </navel>
		<div class="six columns offset-by-three container">
			{{{body}}}
		</div>
	</body>
</html>
