<html>
<head>
  <title>Tandem</title>
  <link rel='stylesheet' type='text/css' href='/css/normalize.css'></link>
  <link rel='stylesheet' type='text/css' href='/css/skeleton.css'></link>
  <link rel='stylesheet' type='text/css' href='/styles/index.css'></link>
</head>
	<body>
    <nav>
    </nav>
    <h1>Welcome to Tandem...</h1>
		<div class="six columns offset-by-three container">
			{{{body}}}
		</div>
    <script src="/javascript/bundle.js"></script>
	</body>
</html>
