<form action="/createListing" method="post">
  <input type='text' placeholder="origin" name='origin' autofocus></input>
  <input type='text' placeholder="destination" name='destination'></input>
 <input type='datetime' placeholder="departure time" name='dateTime'></input>
 <input type='description' placeholder="description" name='description'></input>
  <input type='submit' value='submit'></input>
</form>
