<html>
  <head>
    <meta charset="utf-8">
    <title>Tandem</title>
    <link type="text/css" rel="stylesheet" href="../styles/index.css">
  </head>
  <body>

    <h3>Great enjoy your ride {{name}}!</h3>

    <div >
      <section class=search id="locations">
        <input type="submit" name="newSearch" id="newSearch" value="new search">
      </section>
    </div>

<script src="../javascript/bundle.js"></script>

  </body>
</html>
