

<div id="liftInfo">
Origin:
{{origin}}
Destination:
{{destination}}
Date of Departure:
{{date}}
Time of Departure:
{{time}}
</div><br>
<button id="passengerConfirmButton">Confirm Your Ride</button>
