<!-- <button name="facebook-login">Continue with Facebook</button> // make this link to OAuth

<h2>Log in with email</h2>
<form action='/login' method='POST'>
    <input type='text' placeholder="email" name='email' autofocus></input>
    <input type='password' placeholder="password" name='password'></input>
    <input type='submit' value='login'></input>
</form> -->

<h2>Sign Up</h2>
<form action='/signup' method='POST'>
    <input type='text' placeholder="email" name='email' autofocus></input>
    <input type='password' placeholder="password" name='password'></input>
    <input type='submit' value='signUp'></input>
</form>
