<h2>Welcome to Tandem</h2>
  <h6>Enter where your origin and destination</h6>
  <form action='/login' method='POST'>
    <input type='text' placeholder="origin" name='origin' autofocus class='formField' id="origin"></input>
    <input type='text' placeholder="destination" name='destination' class='formField' id="destination"></input>
    <input type='submit' value='find' class='findButton'id="searchButton"></input>
    <input type='submit' value='List a Ride' class='listARide' id="listARide" href="createListing"></input>
  </form>
