
  <h2>Welcome to Tandem</h2>
  <h6>Enter where your origin and destination</h6>
  <form action='/login' method='POST'>
    <input type='text' placeholder="origin" name='origin' autofocus class='formField' ></input>
    <input type='text' placeholder="destination" name='destination' class='formField'></input>
    <input type='submit' value='find' class='findButton'></input>
  </form>