  <div class="centerContent container u-cf">
    <div class="twelve columns">
      <h1>Welcome to Tandem</h1>
      <h5>Enter your origin and destination</h5>
      <form action="/main/" method="post" class=search id="locations" name="searchForm" onsubmit="return validateForm()">
        <input class="inputFullWidth" type="text" name="origin" id="origin" placeholder="origin">
        <input class="inputFullWidth" type="text" name="destination" id="destination" placeholder="destination">
        <button name="findButton" id="findButton">Find</button>
        <!-- <a href="/currentListing"> -->
        <p id="alert"></p>
        </form>
    </div>
  </div> 
