<header>
    <nav class="navigation">
      <div id="logo">
        <a id="logo" href="/">tandem.</a>
      </div>
      <ul>
        <li><a href="#">Create</a></li>
        <li><a href="/signin">Sign in</a></li>
        <li><a id="signUpBtnNav" href="/signup">Sign up</a></li>
      </ul>
    </nav>
  </header>

<div class="centerContent container u-cf">
	<div class="signInContainer">
	<h5>Sign up</h5>
	<form action='/signup' method='POST'>
		<input class="inputFullWidth" type='text' placeholder="email" name='email' autofocus></input>
		<br>
		<input class="inputFullWidth" type='password' placeholder="password" name='password'></input>
		<br>
		<input id="facebookButton" class="inputFullWidth" type='submit' value='signUp'></input>
	</form>
	</div>
</div>
