<div class="sign-in center-content container u-cf">
	<div class="signInContainer">

   <h5>Sign up</h5>
   <form action='/signup' method='POST'>
    <input class="inputFullWidth" type='text' placeholder="email" name='email' autofocus></input>
    <br>
    <input class="inputFullWidth" type='password' placeholder="password" name='password'></input>
    <br>
    <input class="inputFullWidth sign-up-button" type='submit' value='signUp'></input>

  </form>
</div>
</div>
