<h1 class="singleListHeading">heading</h1>
<div class="detailsContainer">
  <p id="origin">Auckland</p>
  <p id="destination">Wellington</p>
  <p id="date">23rd June, 2016</p>
</div>
<div class="description">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquipatat non proident.
</div>
<div class="commentContainer">
  <textarea name="comment" rows="8" cols="40"></textarea>
  <button type="button" name="reply">reply</button>
</div>
<div class="requestToBook">
  <button type="button" name="requestToBook">Request a Ride</button>
</div>
