/* Fonts
   ========================================================================== */

@font-face { font-family: Gotham_black; src: url(../fonts/GOTHAM-BLACK.TTF);}
@font-face { font-family: Gotham_medium; src: url(../fonts/GOTHAM-MEDIUM.TTF);}
@font-face { font-family: Gotham_thin; src: url(../fonts/GOTHAM-LIGHT.TTF);}

$bold: Gotham_black, sans-serif;
$medium: Gotham_medium, sans-serif;
$body: Gotham_thin, sans-serif;

/* Colors
   ========================================================================== */

// $primary-color: #23355b; //navy blue
$primary-color: rgba(35,53,91,0.7);
$secondary-color: #2a406d;
$third-color: #314a80;

$background-color: #f1f1f1; //light-grey 

$placeholder-color: #565a5c; //grey

$menu-text-color: #fff; //white

$reverse: #fff;
$body-text-color: #141823;

/* INPUTS AND BUTTONS
   ========================================================================== */

$primary-radius: 4px;

.inputFullWidth, 
#facebookButton{
	width: 350px;
	margin: 10px;
}

#facebookButton {
	border-radius: 4px;
	background: #23355b;
	height: 38px;
	margin: 0 auto;
}

#facebookButton a{
	text-decoration: none;
	color: $reverse;
	line-height: 38px;
}

.inputFullWidth.sign-up-button {
	color: #fff;
	background: #355088;
	border: none;
}

.inputFullWidth.sign-up-button:hover {
	background: #4e69a2;
}


#findButton {
	border-radius: 25px;
	border: 1px solid #fff;
	width: 120px;
	text-align: center;
	display: block;
	margin: 20px auto 0;
	background: $third-color;
	border: none;
	color: $reverse;
}

/* utilities
   ========================================================================== */
.center-content {
	text-align: center;
}

.bold-text {
	font-family: $medium;	
}

.destination {
	color: green;
}