@font-face {
    font-family: Gotham_black;
    src: url(../fonts/GOTHAM-BLACK.TTF);
}
@font-face {
    font-family: Gotham_medium;
    src: url(../fonts/GOTHAM-MEDIUM.TTF);
}
@font-face {
    font-family: Gotham_thin;
    src: url(../fonts/GOTHAM-LIGHT.TTF);
}

h1, h2, h3, h4, h5, h6 {
	color: #fff;
}
h5 {
	font-family: Gotham_medium;
}

h1 {
	font-family: Gotham_black;
	font-size: 4em;
	margin-bottom: 0;
}

h6 {
	font-family: Gotham_medium;
}

/*defaul heading for listing pages*/


/*this is a temp rule*/
button {
	color: #fff;
}

body {
  background: #f9f9f9;
  font-family: Gotham_thin;
}

.fullBackgroundImage {
	 background: url(../images/bg002.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  height: 100%

}

#headerBanner {
	background: #23355b;
	height: 80px;
}


/* --------------------- Forms ---------------------*/
.inputFullWidth, #facebookButton {
	width: 320px;
	margin: 10px;
}
#facebookButton {
	border-radius: 4px;
	background: #23355b;
	height: 38px;
	margin: 0 auto;
}

#facebookButton a{
	text-decoration: none;
	color: #fff;
	line-height: 38px;
}

#signUpButton {
	color: #fff;
	background: #355088;
	border: none;
}

#signUpButton:hover {
	background: #4e69a2;
}

/* --------------------- Signin page ---------------------*/

.signInContainer {
	text-align: center;
	margin-top: 15px;
}

#signUp {
	margin-top: 10px;
	color: #fff;
} 




/* --------------------- Header ---------------------*/

#logo {
	font-family: Gotham_black;
	font-size: 1.5em;
	line-height: 50px;

	/*text-align: center;*/

}

#logo a {
	text-decoration: none;
	color: #fff;
}
.main-navigation nav{
	background: #2f4779;
}
/* navigaton mobile */

	nav {
		width: 100%;
		text-align: center;
	}
	nav ul {
		line-height: 40px;
		width: 100%;
		float: none;
	}
	nav ul li {
		display: block;
		list-style: none;
		background: rgba(255,255,255, 0.2);
		margin-bottom: 1px;
	}
	nav ul li a {
		display: block;
		text-decoration: none;
		padding: 5px;
		color: #fff;

	}


/* Larger than tablet */
@media (min-width: 750px) {

	.signInContainer {
		margin-top: 50px;
	}

	#logo {
		float: left;
		margin: 20px 0 0 35px;
	}
	a#logo{
	margin: 0;

	}
	a:hover {
	margin: 0;
	text-decoration: underline;
	}
	nav {
		width: 100%;
		text-align: right;
	}
	nav ul {
		float: right;
		line-height: 50px;
		width: 50%;
		margin-bottom: 0px;
		margin: 15px 35px 0 0;
	}
	nav ul li {
		display: inline;
		list-style: none;
		background: none;
	}
	nav ul li a {
		display: inline;
		padding-left: 25px;
	}

}

.centerContent {
	text-align: center;
}
#findButton {
	border-radius: 25px;
	border: 1px solid #fff;
	width: 120px;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	background: #095698;
	border: none;


/*current Listing*/

}

.layoutContainer {
	background: #cccccc;
	margin-top: 30px;
	padding: 20px;
	border-radius: 4px;
}
#newRides.listings {
	text-align: left;
}
.listing h3, h4, h5{
	margin-bottom: 0px;
}



